 <!-- _name = partial - > cannot do it on their own. Must do render on application pg.-->   
<!-- Answer Modal -->
     <!-- Remember to change both ID to the "new-answer-modal -->
    
<div class="modal fade" id="new-answer-modal" tabindex="-1" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          
       
        <h4 class="modal-title">New Answer</h4>
      </div>
        
      <!-- Inserting a Ruby line of code, remember to close it at the end -->    
        
        <%= form_for :answer, url: '/answers', html: {class: 'form-horizontal'} do %>
        <input type="hidden" name="answer[question_id]" value="<%= @question.id %>" />

 <!-- <form class ="form-horizontal" action="/answer" method="POST"> -->    
   
      <div class="modal-body">
          <!-- CSS/Answer Form Insert -->    
       
  <div class="form-group">
    <label for="inputEmail">Email address</label>
   
    <input type="email" name="answer[email]" class="form-control" id="inputEmail" 
           placeholder="Email" required>
       </div>
  
    <div class="form-group">
    <label for="inputaAnswer">Answer</label>
  
        <textarea class="form-control" name="answer[body]" id="inputAnswer" placeholder="Your awesome answer here" required></textarea>     
  </div>
         
       
        <!--End of CSS/Answer Form Insert -->   
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit </button>
      </div>
         
    </div>      
  </div> 
</div>

    <% end %>

   