
<div class="lead well">

<h4> Hi! I'm Thao.</h4>
<p>    Feel free to ask me anything! </p>
</div>




<!-- Question 1-->
<div class="container">
 <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://myhomelife.org.uk/wp-content/uploads/2015/06/Icon-round-Question_mark1.jpg" height="60" width="60" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">user@email.com asked:</h4>
 So I have a question regarding this and that and this and that, and I actually 
      don't really know what I'm asking for but anyways, this is a test and I'm just trying to fill 
      up some space lolololollo. I hope this works! HEHHEE :D
      <div>
      <a href="/questions/12" class="btn btn-success btn-xs"> View Answers</a>
      </div>
      
  </div>
</div>


    
    
    
    
    
<!-- Question -->

 <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://myhomelife.org.uk/wp-content/uploads/2015/06/Icon-round-Question_mark1.jpg" height="60" width="60" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">user@email.com asked:</h4>
 So I have a question regarding this and that and this and that, and I actually 
      don't really know what I'm asking for but anyways, this is a test and I'm just trying to fill 
      up some space lolololollo. I hope this works! HEHHEE :D
          <div>
      <a href="/questions/12" class="btn btn-success btn-xs"> View Answers</a>
      </div>
      
  </div>
</div>



<!-- Question -->

 <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://myhomelife.org.uk/wp-content/uploads/2015/06/Icon-round-Question_mark1.jpg" height="60" width="60" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">user@email.com asked:</h4>
 So I have a question regarding this and that and this and that, and I actually 
      don't really know what I'm asking for but anyways, this is a test and I'm just trying to fill 
      up some space lolololollo. I hope this works! HEHHEE :D
          <div>
      <a href="/questions/12" class="btn btn-success btn-xs"> View Answers</a>
      </div>
  </div>
</div>
</div>