<!-- Add Media -->
<div class="container">
<div class="lead well">        
<div class="media">
<div class="media-left">
<a href="#">
<img class="media-object" src="http://myhomelife.org.uk/wp-content/uploads/2015/06/Icon-round-Question_mark1.jpg" height="60" width="60" alt="...">
</a>
</div>
<div class="media-body">
<h4 class="media-heading">user@email.com asked:</h4>
 So I have a question regarding this and that and this and that, and I actually 
      don't really know what I'm asking for but anyways, this is a test and I'm just trying to fill 
      up some space lolololollo. I hope this works! HEHHEE :D
</div>
</div>
</div>
</div>


<!-- Answers -->

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        
  <!-- Submit new answer button -->      
        <div>
            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#new-answer-modal">Submit new answer</a>
        </div>

        
         <%= render 'home/new_answer_form' %> 

        
<div class="media">
<div class="media-left">
<a href="#">
<img class="media-object" src="http://myhomelife.org.uk/wp-content/uploads/2015/06/Icon-round-Question_mark1.jpg" height="60" width="60" alt="...">
</a>
</div>
<div class="media-body">
<h4 class="media-heading">user@email.com asked:</h4>
HELLOOO FROM THE OTHER SIIIIDE
    </div></div>


<div class="media">
<div class="media-left">
<a href="#">
<img class="media-object" src="http://myhomelife.org.uk/wp-content/uploads/2015/06/Icon-round-Question_mark1.jpg" height="60" width="60" alt="...">
</a>
</div>
<div class="media-body">
<h4 class="media-heading">user@email.com asked:</h4>
HELLOOO FROM THE OTHER SIIIIDE
    </div></div>


<div class="media">
<div class="media-left">
<a href="#">
<img class="media-object" src="http://myhomelife.org.uk/wp-content/uploads/2015/06/Icon-round-Question_mark1.jpg" height="60" width="60" alt="...">
</a>
</div>
<div class="media-body">
<h4 class="media-heading">user@email.com asked:</h4>
HELLOOO FROM THE OTHER SIIIIDE
    </div></div>
    </div>
    </div>
    
